body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
ul{
  list-style: none;
  width: 100%;
  padding: 0 0.25rem 0.25rem;
}
ul li ::before{
  content: "\200B";
}
.item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
}
.item :first-child{
  margin: 0;
}
.item input[type= "checkbox"] {
  text-align: center;
  width: 2.5rem;
  height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}
.item input[type= "checkbox"] :focus + label {
  text-decoration: underline;
} 
.item > label{
  font-size: 0.75rem;
  flex-grow: 1;
}
.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: blue;
  cursor: pointer;
}
.item svg:focus,
.item svg:hover {
  color: red;
  outline: none;
}